<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<main role="main" class="container text-center">
  <h2 class="mt-5 h2-styles"><%= inject.seoLibrary.getRouteTitle(locals.pageACL.resource) %></h2>

  <div class="card form-fronthouse">
    <div class="card-body">

      <div id="resetp-success-notice" class="success-notice d-none" role="alert"></div>
      <div id="resetp-error-notice" class="alert alert-danger d-none" role="alert"></div>

      <form name="reset-password" action="<%= inject.ACL.PostResetPassword.resource %>" method="post">
        <div class="form-group row">
          <div class="col text-left">
            <label for="<%= inject.PostResetPasswordSchema.user_email %>">Please enter your email address below and a reset link will be sent to you</label>
            <input type="text" 
              id="<%= inject.PostResetPasswordSchema.user_email %>" 
              name="<%= inject.PostResetPasswordSchema.user_email %>" 
              maxlength="<%= inject.PostResetPasswordConstraints.user_email.length.maximum %>"
              class="form-control"
              placeholder="Enter your email address">
          </div>
        </div>
    
        <div class="form-group row">
          <div class="col text-center">
            <div
              class="g-recaptcha"
              style="transform:scale(0.9); transform-origin:0 0;"
              data-sitekey="6LfLwlQUAAAAAAIyjslrMF_hfTCD7kORiIFU0AIk"></div>
          </div>
        </div>
        <input type="submit" id="reset-submit" value="Send password reset email" class="btn btn-success">
      </form>

    </div>
  </div>
</main>

<%- include partials/footer.ejs %>
