<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<main role="main" class="container text-center">
  <h2 class="mt-5 h2-styles"><%= inject.seoLibrary.getRouteTitle(locals.pageACL.resource) %></h2>

  <div class="card form-fronthouse">
    <div class="card-body">

      <div id="resetpc-success-notice" class="success-notice d-none" role="alert"></div>
      <div id="resetpc-error-notice" class="alert alert-danger d-none" role="alert"></div>

      <form name="reset-password-confirm" action="<%= `${inject.ACL.PostResetPasswordConfirm.resource}?token=${locals.token.token}` %>" method="post">
        <div class="form-group row">
          <div class="col text-left">
            <label for="<%= inject.PostResetPasswordConfirmSchema.user_password %>">New password<span class="text-danger">*</span></label>
            <a data-toggle="collapse" href="#newUserPasswordHelpFull" aria-expanded="false" aria-controls="newUserPasswordHelpFull"><i class="far fa-question-circle"></i></a>

            <div class="collapse text-muted" id="newUserPasswordHelpFull">
              <div class="card card-body mb-2">
                Recommended is to use a phrase comprised of random words, as 
                this is more secure than a password.
              </div>
            </div>
            
            <input type="password" 
              id="<%= inject.PostResetPasswordConfirmSchema.user_password %>" 
              name="<%= inject.PostResetPasswordConfirmSchema.user_password %>" 
              maxlength="<%= inject.PostResetPasswordConfirmConstraints.user_password.length.maximum %>"
              class="form-control">

            <small class="form-text text-muted">
              Only latin characters (a-z, A-Z), digits (0-9) and spaces allowed.
              Minimum length 10 characters.
            </small>
          </div>
        </div>
    
        <div class="form-group row">
          <div class="col text-left">
            <label for="<%= inject.PostResetPasswordConfirmSchema.confirm_user_password %>">Confirm new password<span class="text-danger">*</span></label>
            <input type="password" 
              id="<%= inject.PostResetPasswordConfirmSchema.confirm_user_password %>" 
              name="<%= inject.PostResetPasswordConfirmSchema.confirm_user_password %>" 
              maxlength="<%= inject.PostResetPasswordConfirmConstraints.user_password.length.maximum %>"
              class="form-control">
          </div>
        </div>
    
        <input type="submit" id="reset-confirm-submit" value="Apply password changes" class="btn btn-success">
      </form>

    </div>
  </div>
</main>

<%- include partials/footer.ejs %>
