<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

<%
const unreadNoticesCount = (locals.notices.filter(notice => !notice.isRead)).length
%>

<main role="main" class="container mt-5">
  <div id="unread-notice-count" data-unread-notices-count="<%= unreadNoticesCount %>"></div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link <% if(locals.activeTab === 'general') { %>active<% } %>" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">
        <i class="fas fa-chart-bar"></i>
        General
        <% if (unreadNoticesCount) { %>
          <i class="fas fa-envelope unread-notice-count"></i>
          <span class="fa-layers-counter unread-notice-count"><%= unreadNoticesCount %></span>
        <% } %>
      </a>
      <a class="nav-item nav-link <% if(locals.activeTab === 'charity') { %>active<% } %>" id="nav-charity-tab" data-toggle="tab" href="#nav-charity" role="tab" aria-controls="nav-charity" aria-selected="true">
        <i class="fas fa-edit"></i>
        Charity
      </a>
      <a class="nav-item nav-link <% if(locals.activeTab === 'wallet') { %>active<% } %>" id="nav-wallets-tab" data-toggle="tab" href="#nav-wallets" role="tab" aria-controls="nav-wallets" aria-selected="false">
        <i class="fab fa-monero"></i>
        Wallet
      </a>
      <!-- <a class="nav-item nav-link" id="nav-broadcast-tab" data-toggle="tab" href="#nav-broadcast" role="tab" aria-controls="nav-broadcast" aria-selected="false">Broadcast</a> -->
      <a class="nav-item nav-link <% if(locals.activeTab === 'account') { %>active<% } %>" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="false">
        <i class="fas fa-cog"></i>
        Account
      </a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="cause-index-pane tab-pane fade <% if(locals.activeTab === 'general') { %>show active<% } %>" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="general-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-general-summary-list" data-toggle="list" href="#list-general-summary" role="tab" aria-controls="general-summary">Summary</a>
            <a class="list-group-item list-group-item-action" id="list-charity-status-list" data-toggle="list" href="#list-charity-status" role="tab" aria-controls="charity-status">
              <% if (locals.cause.isOnline) { %>
                Online
                <i class="fas fa-eye"></i>
              <% } else { %>
                Offline
                <i class="fas fa-eye-slash"></i>
              <% } %>
            </a>
            <a class="list-group-item list-group-item-action" id="list-charity-pages-list" data-toggle="list" href="#list-charity-pages" role="tab" aria-controls="charity-pages">
              Pages
            </a>
            <a class="list-group-item list-group-item-action" id="list-mining-app-list" data-toggle="list" href="#list-mining-app" role="tab" aria-controls="mining-app">
              Mining software
            </a>
            <a class="list-group-item list-group-item-action" id="list-notices-list" data-toggle="list" href="#list-notices" role="tab" aria-controls="notices">
              Notices
              <% if (unreadNoticesCount) { %>
                <i class="fas fa-envelope unread-notice-count"></i>
                <span class="fa-layers-counter unread-notice-count"><%= unreadNoticesCount %></span>
              <% } %>
            </a>
          </div>
        </div>
    
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent1">
            <%- include ../partials/cause-index/general/summary.ejs %>
            <%- include ../partials/cause-index/general/status.ejs %>
            <%- include ../partials/cause-index/general/pages.ejs %>
            <%- include ../partials/cause-index/general/mining-app.ejs %>
            <%- include ../partials/cause-index/general/notices.ejs %>
          </div>
        </div>
      </div>
    </div>

    <div class="cause-index-pane tab-pane fade <% if(locals.activeTab === 'charity') { %>show active<% } %>" id="nav-charity" role="tabpanel" aria-labelledby="nav-charity-tab">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="charity-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-charity-profile-list" data-toggle="list" href="#list-charity-profile" role="tab" aria-controls="charity-profile">
              Details
              <% if (locals.cause.getIsDetailsComplete()) { %>
                <i id="cause-details-state" class="fas fa-check-circle" data-value="complete"></i>
              <% } else { %>
                <i id="cause-details-state" class="fas fa-times-circle" data-value="incomplete"></i>
              <% } %>
            </a>
            <a class="list-group-item list-group-item-action" id="list-charity-desc-list" data-toggle="list" href="#list-charity-desc" role="tab" aria-controls="charity-desc">
              Description
              <% if (locals.cause.desc) { %>
                <i id="cause-details-state" class="fas fa-check-circle" data-value="complete"></i>
              <% } else { %>
                <i id="cause-details-state" class="fas fa-times-circle" data-value="incomplete"></i>
              <% } %>
            </a>
            <a class="list-group-item list-group-item-action" id="list-charity-keywords-list" data-toggle="list" href="#list-charity-keywords" role="tab" aria-controls="charity-keywords">
              Keywords
              <% if (locals.cause.keywords.length) { %>
                <i id="cause-details-state" class="fas fa-check-circle" data-value="complete"></i>
              <% } else { %>
                <i id="cause-details-state" class="fas fa-times-circle" data-value="incomplete"></i>
              <% } %>
            </a>
            <a class="list-group-item list-group-item-action" id="list-charity-images-list" data-toggle="list" href="#list-charity-images" role="tab" aria-controls="charity-images">
              Images
              <% if (locals.causeImages.length > 0) { %>
                <i id="user-photos-state" class="fas fa-check-circle"></i>
              <% } else { %>
                <i id="user-photos-state" class="fas fa-times-circle"></i>
              <% } %>
            </a>
            <a class="list-group-item list-group-item-action" id="list-charity-verification-list" data-toggle="list" href="#list-charity-verification" role="tab" aria-controls="charity-verification">
              Verification
            </a>
          </div>
        </div>
    
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent2">
            <%- include ../partials/cause-index/charity/profile.ejs %>
            <%- include ../partials/cause-index/charity/desc.ejs %>
            <%- include ../partials/cause-index/charity/keywords.ejs %>
            <%- include ../partials/cause-index/charity/images.ejs %>
            <%- include ../partials/cause-index/charity/verification.ejs %>
          </div>
        </div>
      </div>
    </div>

    <div class="cause-index-pane tab-pane fade <% if(locals.activeTab === 'wallet') { %>show active<% } %>" id="nav-wallets" role="tabpanel" aria-labelledby="nav-wallets-tab">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="wallets-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-current-wallet-list" data-toggle="list" href="#list-current-wallet" role="tab" aria-controls="current-wallet">Current wallet</a>
            <a class="list-group-item list-group-item-action" id="list-add-wallet-list" data-toggle="list" href="#list-add-wallet" role="tab" aria-controls="add-wallet">Insert new wallet</a>
            <a class="list-group-item list-group-item-action" id="list-previous-wallets-list" data-toggle="list" href="#list-previous-wallets" role="tab" aria-controls="previous-wallets">Previous wallets</a>
          </div>
        </div>
    
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent3">
            <%- include ../partials/cause-index/wallet/current-wallet.ejs %>
            <%- include ../partials/cause-index/wallet/add-wallet.ejs %>
            <%- include ../partials/cause-index/wallet/previous-wallets.ejs %>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="cause-index-pane tab-pane fade" id="nav-broadcast" role="tabpanel" aria-labelledby="nav-broadcast-tab">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="broadcast-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-current-broadcast-list" data-toggle="list" href="#list-current-broadcast" role="tab" aria-controls="current-broadcast">Current broadcast</a>
            <a class="list-group-item list-group-item-action" id="list-send-new-broadcast-list" data-toggle="list" href="#list-send-new-broadcast" role="tab" aria-controls="send-new-broadcast">Send new broadcast</a>
            <a class="list-group-item list-group-item-action" id="list-previous-broadcasts-list" data-toggle="list" href="#list-previous-broadcasts" role="tab" aria-controls="previous-broadcasts">Previous broadcasts</a>
          </div>
        </div>
    
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent4">
            <%- include ../partials/cause-index/broadcast/current.ejs %>
            <%- include ../partials/cause-index/broadcast/send-new.ejs %>
            <%- include ../partials/cause-index/broadcast/previous.ejs %>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="cause-index-pane tab-pane fade <% if(locals.activeTab === 'account') { %>show active<% } %>" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="account-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-account-details-list" data-toggle="list" href="#list-account-details" role="tab" aria-controls="account-details">Details</a>
            <a class="list-group-item list-group-item-action" id="list-change-password-list" data-toggle="list" href="#list-change-password" role="tab" aria-controls="change-password">Change password</a>
            <a class="list-group-item list-group-item-action" id="list-delete-account-list" data-toggle="list" href="#list-delete-account" role="tab" aria-controls="delete-account">Delete account</a>
          </div>
        </div>
    
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent5">
            <%- include ../partials/cause-index/account/details.ejs %>
            <%- include ../partials/cause-index/account/change-password.ejs %>
            <%- include ../partials/cause-index/account/delete.ejs %>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<%- include ../partials/footer.ejs %>
